<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>dapp</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <div class="jumbotron">
    <div class="container">
      <div class="page-header">
        <h1>Product list (report page)<h1>
      </div>
      <div>
        <div id="ownerMenu" class="row">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="contents" class="row">
    </div>
  </div>


  <!-- jquery -->
  <script src="lib/js/jquery.min.js"></script>
  <!-- web3 -->
  <script src="lib/js/web3.min.js"></script>
  <!-- truffleocontract -->
  <script src="lib/js/truffle-contract.js"></script>
  <!-- bootstrap -->
  <script src="lib/js/bootstrap.min.js"></script>
  <!-- web3 js -->
  <!-- <script src="lib/js/web3.min.js"></script> -->
  <!-- my script -->
  <script src="js/message.js"></script>
  <script src="js/report.js"></script>

</body>

</html>
